<form [formGroup]="overviewForm">
    <div formArrayName="course">
        <div *ngFor="let item of getCourse.controls; let pointIndex=index" [formGroupName]="pointIndex" class="all-Forms">

            <mat-form-field appearance="outline" class="header-form">
                <input matInput formControlName="headerName" placeholder="Course Name" />
                <mat-error *ngIf="!item.controls['headerName'].valid && item.controls['headerName'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="header-form">
                <input matInput formControlName="hours" placeholder="Course Hours" />
                <mat-error *ngIf="!item.controls['hours'].valid && item.controls['hours'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="header-form">
                <mat-select placeholder="Courses" formControlName="skills" multiple>
                    <mat-select-trigger>
                    </mat-select-trigger>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!item.controls['skills'].valid && item.controls['skills'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" class="header-form">
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
                <mat-error *ngIf="!item.controls['description'].valid && item.controls['description'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>location</mat-label>
                <input matInput placeholder="location" formControlName="location">
                <mat-icon matSuffix>add_location</mat-icon>
                <mat-error *ngIf="!item.controls['location'].valid && item.controls['location'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

        </div>
    </div>
</form>
<button mat-raised-button (click)="onNoClick()">
    Close me
</button>
<button mat-raised-button [mat-dialog-close]="overviewForm" [disabled]="!overviewForm.valid" cdkFocusInitial>
    Sumbit
</button>