<mat-toolbar fxLayoutGap="40px">
    <mat-icon>arrow_back</mat-icon>
    <span>Institute Detail</span>
</mat-toolbar>


<div fxLayout="row" fxLayoutAlign="start start" class="profile" fxLayout.md="column" fxLayout.xs="column">
    <div class="profile-form-side">
        <div class="profile-Side">
            <div class="profile-image" fxLayout="row">
                <img [src]="images" alt="imgs" style="width:200px;padding-top:30px">
                <div >
                    <input type="file" style="display:none" #file (change)="onChange($event)"/>
                    <button class="btn">
                        <mat-icon (click)="file.click()">cloud_upload</mat-icon>
                        <!-- <img src="" class="img-btn" (click)="file.click()"/> -->
                    </button>
                </div>
            </div>
            <div class="profile-header-name">
                <p>Willntrix Get skilled - Get hired</p>
            </div>
            <mat-divider></mat-divider>
            <div class="padding-20"></div>
            <div>
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip>Android</mat-chip>
                    <mat-chip>Java</mat-chip>
                    <mat-chip>HTML</mat-chip>
                    <mat-chip>Node.js</mat-chip>
                    <mat-chip>VBA</mat-chip>
                    <mat-chip>Excel</mat-chip>
                    <mat-chip>Maya</mat-chip>
                    <mat-chip>Sharepoint</mat-chip>
                    <mat-chip>Google Analytics</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <!-- <div style="padding: 80px"></div> -->
        <!-- <div class="enquiry-form">
            <div class="enquiry-headerbar">
                <div class="header">Enquire now</div>
                <div class="subheader">This enquiry might change your career</div>
            </div>
            <div>
                <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
                    <mat-form-field class="form-field">
                        <input matInput placeholder="Name" formControlName="name">
                        <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                            {{ titleAlert }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <input matInput placeholder="Mobile No" formControlName="mobileNo">
                        <mat-error
                            *ngIf="!formGroup.controls['mobileNo'].valid && formGroup.controls['mobileNo'].touched">
                            {{ titleAlert }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <input matInput placeholder="Subject" formControlName="subject">
                        <mat-error
                            *ngIf="!formGroup.controls['subject'].valid && formGroup.controls['subject'].touched">
                            {{ titleAlert }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <textarea matInput placeholder="Message" formControlName="message"></textarea>
                    </mat-form-field>
                    <div class="enquiry-submit" fxLayoutAlign="end center">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div> -->
    </div>
    <div fxFlex="5"></div>
    <div class="institute-overview">
            <institute-overview></institute-overview>
        <!-- <overview [courses]="courses" [jobs]="jobs" [reviews]="reviews"></overview> -->
    </div>
</div>