<mat-toolbar fxLayoutGap="40px">
    <mat-icon>arrow_back</mat-icon>
    <span>Institute Detail</span>
</mat-toolbar>


<div fxLayout="row" fxLayoutAlign="start start" class="profile" fxLayout.xs="column">
    <div class="profile-form-side">
        <div class="profile-Side">
            <div class="profile-image" fxLayout="row">
                <img [src]="images" alt="imgs" style="width:200px;padding-top:30px">
                <div >
                    <input type="file" style="display:none" #file (change)="onChange($event)"/>
                    <button class="btn">
                        <mat-icon (click)="file.click()">cloud_upload</mat-icon>
                        <!-- <img src="" class="img-btn" (click)="file.click()"/> -->
                    </button>
                </div>
            </div>
            <div class="profile-header-name">
                <p>Willntrix Get skilled - Get hired</p>
            </div>
            <mat-divider></mat-divider>
            <div class="padding-20"></div>
            <div>
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip>Android</mat-chip>
                    <mat-chip>Java</mat-chip>
                    <mat-chip>HTML</mat-chip>
                    <mat-chip>Node.js</mat-chip>
                    <mat-chip>VBA</mat-chip>
                    <mat-chip>Excel</mat-chip>
                    <mat-chip>Maya</mat-chip>
                    <mat-chip>Sharepoint</mat-chip>
                    <mat-chip>Google Analytics</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        
    </div>
    <div fxFlex="5"></div>
    <div class="institute-overview">
            <institute-overview></institute-overview>
    </div>
</div>