<div>
    <p>Hi Bro</p>
</div>

<form [formGroup]="overviewForm" >
    <div formArrayName="job">
        <div *ngFor="let item of getJobs.controls; let pointIndex=index" [formGroupName]="pointIndex">
            <!-- <div *ngIf="selectedValue == pointIndex"> -->
                <mat-form-field appearance="outline" class="header-form">
                    <input matInput formControlName="headerName" placeholder="Course Name" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="header-form">
                    <input matInput formControlName="experience" placeholder="Course Hours" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="header-form">
                    <input matInput formControlName="salary" placeholder="Course Hours" />
                </mat-form-field>

                <mat-form-field class="header-form">
                    <mat-select placeholder="Courses" formControlName="skills" multiple>
                      <!-- <mat-select-trigger> -->
                        <!-- {{getJobs.value ? toppings.value[0] : ''}} -->
                        <!-- <span *ngIf="toppings.value?.length > 1" class="example-additional-selection"> -->
                          <!-- (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}}) -->
                        <!-- </span> -->
                      <!-- </mat-select-trigger> -->
                      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width" class="header-form">
                    <textarea matInput placeholder="Description" formControlName="description"></textarea>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" class="header-form">
                    <input matInput formControlName="location" placeholder="Location" />
                </mat-form-field> -->

                <mat-form-field appearance="outline">
                    <mat-label>location</mat-label>
                    <input matInput placeholder="location" formControlName="location">
                    <mat-icon matSuffix>add_location</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" class="header-form">
                    <input matInput formControlName="description" placeholder="Description" />
                </mat-form-field> -->
            <!-- </div> -->
        </div>
    </div>
</form>
<button mat-raised-button (click)="onNoClick()">
    Close me
</button>
<button mat-raised-button [mat-dialog-close]="overviewForm" cdkFocusInitial>
    Sumbit
</button>
