<form [formGroup]="overviewForm">
    <div formArrayName="job">
        <div *ngFor="let item of getJobs.controls; let pointIndex=index" [formGroupName]="pointIndex" class="all-forms">
            <mat-form-field appearance="outline" class="header-form">
                <input matInput formControlName="position" placeholder="Position Name" />
                <mat-error *ngIf="!item.controls['position'].valid && item.controls['position'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="header-form">
                <input matInput formControlName="experience" placeholder="Experience" />
                <mat-error *ngIf="!item.controls['experience'].valid && item.controls['experience'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="header-form">
                <input matInput formControlName="salary" placeholder="Salary" />
                <mat-error *ngIf="!item.controls['salary'].valid && item.controls['salary'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="header-form">
                <mat-select placeholder="Skills" formControlName="skills" multiple>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!item.controls['skills'].valid && item.controls['skills'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" class="header-form">
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
                <mat-error *ngIf="!item.controls['description'].valid && item.controls['description'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>location</mat-label>
                <input matInput placeholder="Location" formControlName="location">
                <mat-icon matSuffix>add_location</mat-icon>
                <mat-error *ngIf="!item.controls['location'].valid && item.controls['location'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

        </div>
    </div>
</form>
<button mat-raised-button (click)="onNoClick()">
    Close me
</button>
<button mat-raised-button [mat-dialog-close]="overviewForm" [disabled]="!overviewForm.valid" cdkFocusInitial>
    Sumbit
</button>